@media (max-width: 400px){
    #level2-main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #level-sidebar{
        margin-left: 0px;
        flex-direction:row;
        width: auto;
        height: auto;
        padding: 20px;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    #level-sidebar-icon-div{
        display: flex;
        gap: 20px;
    }
    .img-sidebar-icon{
        width: 30px;
        height: 30px;
    }
    #img-sidebar-icon-info{
        width: 17px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .level-sidebar-icon{
        margin: 10px;
        display: none;
    }
    #level-sidebar:hover .level-side-text{
        display: none;
    }
    #level-sidebar:hover .level-sidebar-icon{
        display: flex;
    }
    #level-sidebar:hover #level-sidebar-icon-info{
        display: flex;
    }
    #sidebar-icon{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #level-sidebar-icon-info{
        margin: 0;
        display: none;
    } 
    #level-game-area{
        margin-top: 80px;
        margin-left: 0px;
        width: max-content;
        height: max-content;
        padding: 20px;
        border-radius: 50px;
    }
    .lev2-block{
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
    #lev2-block{
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
    .lev2-block-img{
        width: 45px;
        height: 45px;
    }
    .lev2-row{
        gap: 10px;
    }
    #lev2-play-img{
        width: 45px;
        height: 45px;
    }
}