@media (max-width: 700px){
    #first-full{
        justify-content: start;
        padding-top: 130px;
        padding-bottom: 70px;
    }
    #light-button{
        top: 30px;
        width: 40px;
        height: 40px;
    }
    #logo{
        width: 234px;
        height: 234px;
        
    }
    #first-text-div{
        margin-top: 50px;
    }
    #first-text{
        font-size: 18px;
    }
    #first-button{
        margin-top: 100px;
        width: 120px;
        height: 30px;
    }
    #first-button-text{
        font-size: 10px;
    }
    .game-menu-button{
        width: 250px;
        height: 65px;
        margin: 25px;
    }
    .game-menu-button-text{
        font-size: 20px;
    }
    #game-menu-main{
        height: 100vh;
    }
}

@media (max-height: 500px){
    #first-full{
        justify-content: start;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    #light-button{
        top: 30px;
        width: 40px;
        height: 40px;
    }
    #logo{
        width: 234px;
        height: 234px;
        
    }
    #first-text-div{
        margin-top: 25px;
    }
    #first-text{
        font-size: 18px;
    }
    #first-button{
        margin-top: 25px;
        width: 120px;
        height: 30px;
    }
    #first-button-text{
        font-size: 10px;
    }
    .game-menu-button{
        width: 250px;
        height: 65px;
        margin: 25px;
    }
    .game-menu-button-text{
        font-size: 20px;
    }
    #game-menu-main{
        height: 100vh;
    }
}