#first-full{
    background: var(--1, #091120);
    width: auto;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#first-text-div{
    margin-top: 108px;
}
#first-text{
    color: #FFF;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
}
#first-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 80px;
    width: 200px;
    height: 51px;
    background-color: #FFF;
    border-radius: 1px #000;
}
#first-button:hover{
    background-color: #172a4f;
}

#first-button-text{
    color: #000;
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin: 0px;
}
#first-button:hover #first-button-text{
    color: #FFF;
}

#light-button{
    width: 87px;
    height: 85px;
    position: absolute;
    top: 67px;
    right: 67px;
}
#light-button:hover{
    border: 4px solid #463eb6;
    border-radius: 23px;
}